In [8]:
import numpy as np
import pandas as pd

In [10]:
#df=pd.read_csv("AUX_I.XPT")
db=pd.read_excel('https://query.data.world/s/cqgsjhuv7c4uk7zjyag3d5kr7rmb2p')
db.head()
#index_col = 2, skiprows=0 
#these two fields are added at the end of the read_excel fn to set restrictions. index_col sets one of the cols as the index and skiprow skips a particular row

,Year,Western Champion,Eastern Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
0,1950,Minneapolis Lakers,Syracuse Nationals,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1951,Rochester Royals,New York Knicks,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1952,Minneapolis Lakers,New York Knicks,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1953,Minneapolis Lakers,New York Knicks,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1954,Minneapolis Lakers,Syracuse Nationals,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
type(db)#->dataframe
db.columns
db.shape
db.dtypes

Year                   int64
Western Champion      object
Eastern Champion      object
Result                object
NBA Champion          object
NBA Vice-Champion     object
Final Sweep ?           bool
MVP Name              object
MVP Height (m)       float64
MVP Height (ft)      float64
MVP Position          object
MVP Team              object
MVP Nationality       object
MVP status            object
dtype: object

In [19]:
db.loc[34:39]
db.loc[64:67,"Year"]
db.loc[64:67,["Year","Western Champion","Eastern Champion","NBA Champion"]]

    Year       Western Champion     Eastern Champion           NBA Champion
64  2014      San Antonio Spurs           Miami Heat      San Antonio Spurs
65  2015  Golden State Warriors  Cleveland Cavaliers  Golden State Warriors
66  2016  Golden State Warriors  Cleveland Cavaliers    Cleveland Cavaliers
67  2017  Golden State Warriors  Cleveland Cavaliers  Golden State Warriors

In [30]:
db.iloc[64:67,1]
db.iloc[64:67,1:3]
db.iloc[64:67,[1,2,4]]

         Western Champion     Eastern Champion           NBA Champion
64      San Antonio Spurs           Miami Heat      San Antonio Spurs
65  Golden State Warriors  Cleveland Cavaliers  Golden State Warriors
66  Golden State Warriors  Cleveland Cavaliers    Cleveland Cavaliers

In [38]:
db.Result.unique()#prints unique vals..

array(['4–2', '4–3', '4–1', '3–4', '1–4', '0–4', '2–4', '4–0', '4-2',
       '4-0'], dtype=object)

In [52]:
db.groupby(["MVP Team","NBA Champion"]).size()#groupby fn relates two columns and prints

MVP Team                NBA Champion
Baltimore Bullets       Boston Celtics            1
Boston Celtics          Boston Celtics            7
                        Los Angeles Lakers        1
                        New York Knicks           1
                        St. Louis Hawks           1
Buffalo Braves          Golden State Warriors     1
Chicago Bulls           Chicago Bulls             4
                        Dallas Mavericks          1
                        Los Angeles Lakers        1
Cincinnati Royals       Boston Celtics            1
Cleveland Cavaliers     Los Angeles Lakers        2
Dallas Mavericks        San Antonio Spurs         1
Golden State Warriors   Cleveland Cavaliers       1
                        Golden State Warriors     1
Houston Rockets         Golden State Warriors     1
                        Houston Rockets           1
                        Los Angeles Lakers        1
                        Seattle SuperSonics       1
Los Angeles Lakers      Boston Celtics            2
                        Detroit Pistons           2
                        Los Angeles Lakers        3
                        Portland Trail Blazers    1
Miami Heat              Miami Heat                2
Milwaukee Bucks         Boston Celtics            1
                        Los Angeles Lakers        1
                        Milwaukee Bucks           1
Minnesota Timberwolves  Detroit Pistons           1
New York Knicks         New York Knicks           1
Oklahoma City Thunder   Golden State Warriors     1
                        San Antonio Spurs         1
Philadelphia 76ers      Boston Celtics            3
                        Los Angeles Lakers        1
                        Philadelphia 76ers        2
Philadelphia Warriors   Boston Celtics            1
Phoenix Suns            Chicago Bulls             1
                        Miami Heat                1
                        San Antonio Spurs         1
Portland Trail Blazers  Washington Bullets        1
Saint Louis Hawks       Boston Celtics            1
                        Philadelphia Warriors     1
San Antonio Spurs       Houston Rockets           1
                        Los Angeles Lakers        1
                        San Antonio Spurs         1
Utah Jazz               Chicago Bulls             1
                        San Antonio Spurs         1
dtype: int64

In [58]:
print(pd.isnull(db.Year).sum())
print(pd.notnull(db.Year).sum())#Check if columns have null vals

0
69