In [4]:
import pandas as pd
#pd.Series?
animals=["Tiger","Lion","Cow"]
pd.Series(animals)
numb=[1,2,3]
pd.Series(numb)

0    1
1    2
2    3
dtype: int64

In [5]:
numbers=[1,2,None]
pd.Series(numbers)#NaN is a special floating pt no that means not a number

0    1.0
1    2.0
2    NaN
dtype: float64

In [15]:
#Creating a series using dict
sports={"India":"Hockey","USA":"Basketball","England":"Football","Bhutan":"Archery"}
s=pd.Series(sports)
s.index

Index(['India', 'USA', 'England', 'Bhutan'], dtype='object')

In [7]:
s = pd.Series(["Tiger","Hippo","Cow"],index=["Golf", "Sumo", "Hockey"])#Passing index as a list
s

Golf      Tiger
Sumo      Hippo
Hockey      Cow
dtype: object

In [8]:
#Querying a list
print(s[3])#If we use numbers as our index list then this code genereates an error
s.iloc[3]#qureies using number
s.loc["USA"]#queries using index

IndexError: index out of bounds

In [27]:
#using the extracted data
n=pd.Series([0,10,100])
total=0
for i in n:
    total+=i
    print(total)#This method is too slow

0
10
110

In [26]:
import numpy as np
total=np.sum(n)
print(total)

110

In [44]:

#a.head()#takes only the first 5 entries
%timeit -n 100
#uses 100 runs..for some reason it's not printing the time taken as it usually does
summary = 0
a=pd.Series(np.random.randint(0,1000,10000))
for item in a:
    summary+=item
#%timeit for _ in range(1000): True

In [48]:
%timeit -n 100
summary=np.sum(a)#for some reason it's not printing the time taken as it usually does

#trying to time another process. Method same as above
%timeit -n 100
b=pd.Series(np.random.randint(0,1000,10000))
b+=2

%timeit -n 100
for label,value in b.iteritems():
    b.loc[label]=value+2
    #byobservation this process takes longer

In [49]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [9]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [51]:
original_sports
cricket_loving_countries
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [52]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [18]:
#dataframe data structure
import pandas as pd
p1=pd.Series({"Name":"Tejas","Gender":"Male","Amt paid":20})
p2=pd.Series({"Name":"Rohit","Gender":"Male","Amt paid":40})
p3=pd.Series({"Name":"Deepa","Gender":"Female","Amt paid":30})
df=pd.DataFrame([p1,p2,p3],index=["store1","store2","store3"])
#print(df.head())
print(df['Amt paid'])
df.loc["store1","Amt paid"]
#df.loc["Amt paid"]

store1    20
store2    40
store3    30
Name: Amt paid, dtype: int64

20

In [37]:
df.T#transpose rows and columns
df.T.loc['Amt paid']
df.loc["store1"]["Amt paid"]
df.loc[:,["Name","Amt paid"]]#we're slicing the set. The second argument is a list of our parameters..this is basically creating a new set with these columns

         Name  Amt paid
store1  Tejas        20
store3  Deepa        30

In [65]:
#Dropping a set
#df=df.drop('store2')#it's giving me this error because i dropped store2 already..we use this to drop elements. If i juts write df.drop("store2"), no dropping happens
#print(df)
#copy_df = df.copy()
#copy_df = copy_df.drop('store2')#a better method to assess dropping is by checking the copy of the data
#copy_df

In [66]:
#modifying elements
#df["Gender"]=None
#df
#creating a list with the given data
#cost=df["Amt paid"]
#cost+=2

In [2]:
#The errors above are coz i assigned df to this
#reading csv files
#df=pd.read_csv("vela_Pulsar.csv")
#db = pd.read_excel('https://query.data.world/s/cqgsjhuv7c4uk7zjyag3d5kr7rmb2p')
import pandas as pd
db=pd.read_excel('https://query.data.world/s/cqgsjhuv7c4uk7zjyag3d5kr7rmb2p',index_col = 2, skiprows=0)#querying with restrictions
db.head()

,Year,Western Champion,Result,NBA Champion,NBA Vice-Champion,Final Sweep ?,MVP Name,MVP Height (m),MVP Height (ft),MVP Position,MVP Team,MVP Nationality,MVP status
Eastern Champion,,,,,,,,,,,,,
Syracuse Nationals,1950,Minneapolis Lakers,4–2,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New York Knicks,1951,Rochester Royals,4–3,Rochester Royals,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New York Knicks,1952,Minneapolis Lakers,4–3,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
New York Knicks,1953,Minneapolis Lakers,4–1,Minneapolis Lakers,New York Knicks,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Syracuse Nationals,1954,Minneapolis Lakers,4–3,Minneapolis Lakers,Syracuse Nationals,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#boolean masking
db['Year']>1950   #runs this condition for all entries and makes all the fields of whatever isn't true NaN
dx=db.where(db['Year']>2002)
dx.head()
dx['Year'].count() #only counts non-zero(no NaN) entries
dy=dx[['Year','NBA Champion']]#Remember to use this format if i wanna create a subset.

dy=dy.dropna()
dy=dy[dy['Year']==max(dy['Year'])]
#dy.set_index('Year')
x=dy['NBA Champion']
str(x)
#dy[(dy['NBA Champion'][0:9]=="Philadelp")]

#dz=pd.DataFrame()
#dz=db
#diff=[dz['Year']-2000]

#dz['diff']=diff
#db.iloc[0]

'Eastern Champion\nCleveland Cavaliers    Golden State Warriors\nName: NBA Champion, dtype: object'

In [6]:
dx=dx.dropna() #to drop all empty(NaN) values
max(dx['Year'])
#dx["Final Sweep?"]==0

2018.0

In [16]:
#using bitwise operators for masking
db[(db['Year']>2006)|(db['MVP Height (ft)']<6.2)]#Bitwise or
db[(db['Year']>2006)&(db['MVP Height (ft)']<6.2)]#Bitwise and...go AI!!

Empty DataFrame
Columns: [Year, Western Champion, Result, NBA Champion, NBA Vice-Champion, Final Sweep ?, MVP Name, MVP Height (m), MVP Height (ft), MVP Position, MVP Team, MVP Nationality, MVP status, Final Sweep?]
Index: []

In [ ]:
#indexing dataframes part didn't get saved. Watch again if needed